.add-clients-to-checklist
  = simple_form_for [@event, EventReceptionist.new] do |f|
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      .icon-add-client
        %i.fa.fa-street-view
      %h3.title-add Agrega Recepcionistas a tu evento
      = f.association :receptionist, prompt: "- Elija un Recepcionista - ", autofocus: true, label: false, label_method: :fullname
    .modal-body
      %p.not-found
        No encontraste al recepcionista? crea por
        = link_to 'aqui', new_user_path
    .modal-footer
      = f.submit 'AGREGAR', class: 'btn btn-primary'