$padding-card: 20px;
$border-radius-card: 4px;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin border-radius-compound($radius1, $radius2, $radius3, $radius4 ) {
  -webkit-border-radius: $radius1 $radius2 $radius3 $radius4;
     -moz-border-radius: $radius1 $radius2 $radius3 $radius4;
      -ms-border-radius: $radius1 $radius2 $radius3 $radius4;
          border-radius: $radius1 $radius2 $radius3 $radius4;
}

.event-show{
  margin-top: 10px;
  .event-header{
    text-align: center;
    margin-bottom: 30px;
    background-color: white;
    .title{
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
  }

  .event-info{
    margin-bottom: 50px;
  }

  .info-desc{
    color: #979EAC;
    .fa{
      margin-right: 10px;
    }
  }

  .event-title{
    font-size: 18px;
  }

  .event-desc{
    width: 60%;
    margin-bottom: 20px;
  }

  .companies-list, .receptionist-list{
    list-style: none;
    padding-left: 0px;
    margin-top: 10px;
    text-align: left;
    li{
      display: inline-block;
      margin-right: 8px;
    }

  }

}

.btn-add-client{
  float: right;
  font-size: 16px;
  color: #6cbd7d;
}

.checklist-list{
  list-style: none;
  padding-left: 0px;
  color: rgba(58, 66, 83, 0.74);
  li{
    padding: 10px 0px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.28);
    .email {
      display: block;
      color: rgba(58, 66, 83, 0.44);
      font-size: 13px;
    }
    .option-delete{
      float: right;
    }
  }
}

.add-clients-to-checklist{
  .title-add{
    color: #3A4253;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .modal-header{
    border-bottom: 1px solid #EDEDED;
    text-align: center;
    .icon-add-client i{
      color: white;
      background-color: rgb(255, 0, 94);
      font-size: 28px;
      padding: 14px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin-top: 20px;
    }
  }

  .modal-footer{
    background-color: #F9F9FB;
    border-top: none;
    text-align: center;
  }
  .modal-body{
    background-color: #F9F9FB;
    .not-found{
      text-align: center;
      color: rgb(150, 149, 149);
    }
  }
}





.row.events{
  margin-bottom: 40px;
  .options{
    background: #F1F5F8;
    @include border-radius-compound(0px, 0px, $border-radius-card, $border-radius-card);
    color: #697188;
    text-align: center;
    border: 1px solid #EAEAEA;
    .row{
      margin-left: 0px;
      margin-right: 0px;
      .col{
        margin: 5px 0px;
        padding: 12px 0px;
      }

      .middle{
        border-left: 1px solid rgba(105, 113, 136, 0.3);
        border-right: 1px solid rgba(105, 113, 136, 0.3);
      }

      .icon-option{
        font-size: 18px;
        font-weight: 400;
      }

      .participant:before{
        content: url(<%= asset_path 'icons/participant.png' %>);
      }

      .company:before{
        content: url(<%= asset_path 'icons/company.png' %>);
      }

      .recepcionist:before{
        content: url(<%= asset_path 'icons/recepcionist.png' %>);
      }

      .icon-text{
        display: block;
        font-size: 14px;
      }
    }

  }
}

.sort-container{
  text-align: right;
  margin-bottom: 10px;
  .segmented-control {
    text-transform: uppercase;
    color: #0086bf;
    font-size: 0;
  }

  .segmented-control__segment{
    color: #666;
    background-color: #ededed;
  }

  .segmented-control__segment:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    }

  .segmented-control__segment {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 12px;
    padding: 0 20px;
    background-color: #fff;
    line-height: 30px;
    height: 30px;
    border-left: solid 1px #dedede;
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
  }

  .segmented-control__segment:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: solid 1px #dedede;
    }
}

.event-show-link:hover{
  text-decoration: none;
}
.avatar-icon{
  width: 36px;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}


.circle-add-link{
  display: inline-block;
  &:hover{
    text-decoration: none;
  }
  .circle-add{
    width: 36px;
    height: 36px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 18px;
    color: gray;
    line-height: 31px;
    text-align: center;
    border: 1px dashed gray;
    &:hover{
      background-color: rgba(205, 202, 202, 0.11);
      border: 1px dashed gray;
    }
  }
}

.item-event{
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  border-left: 1px solid rgba(0, 0, 0, 0.06);
  @include border-radius-compound($border-radius-card, $border-radius-card, 0px, 0px);
  padding: $padding-card;
  color: rgba(121, 121, 121, 0.8);
  padding-top: 0px;
  padding-bottom: 10px;
  position: relative;
  display: inline-block;
  background-color: white;
  width: 100%;

  .event-content{
    margin-top: 25px;
    .companies{
      padding-left: 0px;
      text-align: left;
      li{
        display: inline;
        margin-right: 8px;
        &.aditional-company{
          color: rgb(133, 186, 231)
        }

        span{
          display: inline-block;
        }
      }
    }

  }

  .event-show-hover{
    background: rgba(241, 245, 248, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;
    text-decoration: none;
    border-top: 1px solid #ECECEC;
    z-index: 3;
    overflow: hidden;
    height: 100%;
    color: rgba(121, 121, 121, 0.8);
    .event-description{
      font-weight: 300;
      font-size: 13px;
    }
    strong{
      display: block;
      margin: 0 0 14px 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.2;
      color: #444444;
    }
  }

  &.active{
    border-top: 10px solid rgb(24, 211, 119);
  }

  &.inactive{
    border-top: 10px solid #F9AE5A;
  }
  .event-show-link{
    color: rgba(121, 121, 121, 0.8);
  }
  .event-header{
    text-align: center;
    .name{
      display: inline-block;
      font-size: 1.38em;
      margin-bottom: 20px;
      color: #393C44;
      letter-spacing: 0.5px;
      font-family: san-serif;
      margin-bottom: 0px;
    }

    .event-type{
      font-size: 11px;
      margin-bottom: 20px;
      letter-spacing: 1px;
    }

    .name, .icon-header{
      text-align: center;
    }

    .icon-header{
      font-weight: 300;
      font-size: 13px;
    }

  }

}

.paginate{
  height: 60px;
  width: 100%;
  text-align: center;
}





.navbar-nav > li > a.btn-new-event{
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 10px 10px;
}

.wrapper-map{
  display: inline-block;
  width: 53%;
}

#my_map{
  width: 270px;
  height: 270px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10%;
}